@import "bourbon";

.portlet-forms {
	.aspect-ratio img {
	    top: 0;
	}

	.form-builder-header-title {
		display: none;
	}

	.form-builder-tabview {
		padding: 20px 70px 11px 34px;
		border: 1px solid #dee4e9;
		position: relative;
	}

	.form-builder-page-header {
		position: relative;
	}

	.form-builder-page-header,
	.form-builder-tabview {
		.form-builder-controls-trigger  {
			position: absolute;
			right: 20px;
			top: 40px;
		}
	}

	.form-builder-controls-trigger {
		font-size: 20px;
	}

	.ddl-form-builder-basic-info {
		height: 300px;
		background-color: #869cad;

		.ddl-form-builder-name,
		.ddl-form-builder-description {
			h1,h2,h3,h4,h5,h6,p {
				margin: 0;
			}

			.alloy-editor.alloy-editor-placeholder {
				margin: 0;
				color: white;

				&:empty:not(:focus) {
					border-width: 0;
				}
			}

			.help-block {
				position: absolute;
				top: -15px;
			}
		}

		.ddl-form-builder-name {
			padding: 52px 0 0 0;

			.alloy-editor.alloy-editor-placeholder {
				font-size: 32px;
				font-weight: 300;
				line-height: 32px;
			}
		}

		.ddl-form-builder-description {
			padding: 23px 0 0 0;

			.alloy-editor.alloy-editor-placeholder {
				font-size: 14px;
				font-weight: 400;
				line-height: 24px;
			}
		}

	}

	.ddl-form-builder-app {
		margin-top: -120px;

		.form-builder-header {
			display: none;
		}

		.form-builder-layout {
			margin: 0 auto;
			width: auto;

			.layout-builder-add-row-area {
				margin: 0;
			}

			.layout-row-container-row {
				margin-bottom: 2px;

				.layout-row {
					border-width: 0;
					margin: 0;

					.col {
						border-radius: 0;
						border-width: 0;
						min-height: 50px;

						.form-group {
							min-height: 40px;
						}
					}
				}
			}
		}

		.form-builder-content {
			background: #fff;
			border: 1px solid #dce0e3;
			border-radius: 1px;
			box-shadow: 0 2px 4px rgba(188, 197, 204, 0.3);
			margin: 0 auto;
			width: auto;

			.tab-pane {
				min-height: auto;
				padding-bottom: 0;
			}

			.form-builder-pages-header {
				margin-bottom: 0;
				width: auto;

				input {
					border-width: 0;

					&.form-builder-page-header-description {
						margin-bottom: 17px;
						padding-top: 0;
					}

					&.form-builder-page-header-title {
						margin: 19px 0 0 0;
						padding-bottom: 0;
					}

					&:focus {
						box-shadow: none;
					}
				}
			}
		}

		.form-builder-pages {
			li.active a {
				z-index: 0;
			}
		}
	}

	.lfr-ddm-repeatable-add-button {
		position: absolute;
		right: 0;
		top: 0;
	}

	.lfr-ddm-repeatable-delete-button {
		position: absolute;
		right: 15px;
		top: 0;
	}

	.liferay-ddm-form-renderer-wizard-navigation-allowed {
		> li {
			cursor: pointer;
		}
	}
}

.form-builder-field {
	border-radius: 0;
	border-width: 0;
	box-shadow: none;
	margin: 0;
}

.lfr-ddl-field-settings-modal.form-builder-field-settings {
	width: 720px;

	.form-builder-field-settings-content {
		.modal-body {
			background-color: #FFF;
			max-height: 500px;
			overflow-x: hidden;
			overflow-y: auto;
			padding: 0;
		}

		.lfr-ddm-form-container {
			padding: 0 50px;

			.lfr-ddm-form-field-container {
				.lfr-form-row {
					border-width: 0;
					padding-bottom: 5px;
					padding-top: 5px;

					&:hover {
						padding-top: 5px;
					}

					.lfr-autorow-controls {
						bottom: 13px;

						.add-row {
							margin-right: 5px;
						}
					}
				}

				.toggle-switch-bar .toggle-switch-handle {
					text-transform: none;
				}
			}

			.lfr-ddm-form-page {
				display: none;

				&.active {
					display: block;
				}

				&.advanced {
					background-color: #F5F8FA;
					margin: 0 -50px;
					padding: 20px 50px;
				}
			}

			.settings-toggler {
				background-color: #F5F8FA;
				color: #879CB5;
				display: block;
				margin: 0 -50px;
				padding: 10px 50px;
				text-decoration: none;
			}
		}

		@include keyframes(spin) {
			100% {
				transform: rotate(359deg);
			}
		}

		.form-builder-field-settings-save .icon-spinner {
			@include animation(spin 1000ms infinite linear);

			display: inline-block;
			margin: -2px 0 0 4px;
		}
	}
}

.form-builder-page-manager-popover-header.popover.left > .arrow {
	margin-left: 19px;
}

.form-builder-page-manager-popover-header  {
	.popover-content {
	 	padding: 7px 21px;
	}

	ul {
	 	margin: 0;
	 	padding: 0;
	}

	li {
	 	list-style-type: none;
		color: #869cad;
		cursor: pointer;
		font-size: 15px;
		font-weight: 400;
		line-height: 16px;
		padding: 11px 0 11px 0;
	}
}